[submodule "ofac/CodeShell"]
	path = ofac/CodeShell
	url = https://github.com/WisdomShell/codeshell-intellij.git
[submodule "ofac/Bumblebee"]
	path = ofac/Bumblebee
	url = https://github.com/JetBrains-Research/bumblebee.git
[submodule "ofac/RooCode"]
	path = ofac/RooCode
	url = https://github.com/RooVetGit/Roo-Code
[submodule "ofac/EM-guide"]
	path = ofac/EM-guide
	url = https://github.com/JetBrains-Research/llm-guide-refactorings
[submodule "ofac/DevoxxGenie"]
	path = ofac/DevoxxGenie
	url = https://github.com/devoxx/DevoxxGenieIDEAPlugin.git
[submodule "ofac/PSIMiner"]
	path = ofac/PSIMiner
	url = https://github.com/JetBrains-Research/psiminer.git
[submodule "Bao-Cline"]
	path = Bao-Cline
	url = https://github.com/jnorthrup/Bao-Cline
